@model WebApplication4.Models.SurveyQuestion

@{
    ViewBag.Title = "Details";
}
@{
    Layout = "_Layoutgiver.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SurveyQuestion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Survey.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Survey.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeEnum.TypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeEnum.TypeName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
