@model WebApplication4.Models.RegisterViewModel
@{
    ViewBag.Title = "Survey Says";
}
@{
    Layout = "_LayoutLogin.cshtml";
}

<h2>Survey Taker Register</h2>
<div class="registerf">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Create a new account.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
            <div class="reginfo"><h4>User Name</h4></div>
            <div class="col-md-10">
                <div class="enterboxes">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="reginfo"><h4>Email</h4></div>
            <div class="col-md-10">
                <div class="enterboxes">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="reginfo"><h4>Password</h4></div>
            <div class="col-md-10">
                <div class="enterboxes">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="reginfo"><h4>Confirm Password</h4></div>
            <div class="col-md-10">
                <div class="enterboxes">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="form-group">

            <div class="col-md-10">
                <div class="enterboxes">
                    @*@Html.CheckBoxFor( m => m.Role )*@
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="registerbut">
                    <input type="submit" class="btn btn-default" value="Register" />
                </div>
            </div>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
