@model IEnumerable<WebApplication4.Models.Survey>

@{
    ViewBag.Title = "Index";
}
@{
    Layout = "_Layoutgiver.cshtml";
}

<h2>Your Created Surveys</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Surveys")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TakerLimit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateLimit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TakerLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUser.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit/"+item.SurveyID , "Surveys") |
                @Html.ActionLink("Details", "Details/"+item.SurveyID, "Surveys") |
                @Html.ActionLink("Delete", "Delete/"+item.SurveyID, "Surveys")
            </td>
        </tr>
    }

</table>
