@model WebApplication4.Models.Survey 

@{
    ViewBag.Title = "Details";
    var h = ViewBag.SurveyResponse;
    var q = ViewBag.Questions;
    var num = ViewBag.NumResponse;
}
@{
    Layout = "_Layoutgiver.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Survey</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TakerLimit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TakerLimit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateLimit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateLimit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

        <dt>
            Numnber of Questions:
        </dt>
        <dd>
            @q.Count
        </dd>
        <dt>
            Numnber of Responses:
        </dt>
        <dd>
            @num
        </dd>
    </dl>

    <ol>
        @foreach (var question in q)
        {
            <li>@question.Text @question.QuestionTypeID @question.QuestionID
            @if (question.QuestionTypeID == 1)
            {
                <ol>
                @foreach (var maq in question.SurveyMAQs) {
                    <li>@maq.Text</li>
                }
                </ol>
            }
            </li>
        }
    </ol>
    



</div>
<p>
   @Html.ActionLink("Back to List", "Index")
</p>
