@model WebApplication4.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

@{
    Layout = "_LayoutLogin.cshtml";
}

<h2>@ViewBag.Title.</h2>
<div class="loginf">
    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Change Password Form</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            <div class="pwinfo"><h4>Old Password</h4></div>
            <div class="col-md-10">
                <div class="enterboxes">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        <div class="form-group">
            <div class="pwinfo"><h4>New Password</h4></div>
            <div class="col-md-10">
                <div class="enterboxes">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        <div class="form-group">
            <div class="pwinfo"><h4>Confirm Password</h4></div>
            <div class="col-md-10">
                <div class="enterboxes">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="cpwbut">
                    <input type="submit" value="Change password" class="btn btn-default" />
                </div>
                </div>
            </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}